<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem vindo ao CINQ DOJO - Ninja belts!
  </h1>

  <h3>
    Aplicação - Ninja Belt

    Home Page
    Somente Instruçõe de desafios
    Rota /presenters
    Painel estilo grupo com os nomes dos apresentadores (Gabriel e Romero)
    Overlay Com os cinturões/belts conquistados
    Desafios
    Desafio 1
    Ng: Criar rota do time e Fazer chamada POST para serviço JAVA a ser criado: */team/{{teamName}}. Fazer Filtro na listagem para mostrar somente os dados do seu time.
    Java: Criar serviço POST */team/{{teamName}} que permita o cadastro do grupo que representará os participantes.
    Objetivo: Mostrar por rota os dados do grupo específico + presenters (Não será considerada a solução que mostrar dados de outros times.
    (deixar pré cadastrado um time FAKE.)
    Desafio 2
    Ng: Fazer chamada GET para serviço JAVA a ser criado: */team/belt/{{teamName}}.
    Java: Criar serviço GET */team/belt/{{teamName}} que permita a consulta dos cinturões específicos do time.
    Não será considerado serviço que retorne cinturões de outros times.
    (deixar pré cadastrado um time FAKE.)
    Desafio 3 (somente um time consegue)
    Listar todos os Ninjas + Presenters na página inicial.
    (time FAKE deverá ser filtrado.)
    Cores de belt
    White
    Yellow
    Red
    Brown
    Black
    Como inserimos os belts por time?
    Criar Token/criptografia

  </h3>

  <!-- list ninjas groups -->
  <div *ngFor="let team of ninjaTeams" style="border: 1px solid blue"
       [style.color]="team.isOwner?'red':'black'">
    Name: {{team.name}}
    Belts: <span *ngFor="let belt of team.belts">{{belt.color+ " | "}}</span>
    <div *ngFor="let ninja of team.ninjas">
      <h3>Ninja: {{ninja.name}}</h3>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
