<!--The content below is only a placeholder and can be replaced.-->
<div class="content center" *ngIf="isHomePage">

  <h1 class="welcomeTitle cinq-text">
    Bem vindo ao
    <strong class="cinqDojo">
      Coding DOJO
    </strong>
    @ CINQ 2018
  </h1>

  <img src="/assets/images/jenkinsXtra.png">


  <br>

  <div style="text-align: justify-all; width: 100%">
    <h3 class="cinq-text">Desafios - Angular/Java</h3>
    <h4>:: Desafio 1</h4>
    <ol class="c">
      <li>
        <strong>Angular:</strong> Criar uma rota no usando o próprio nome do time, <strong>ex. */teamA</strong>,
        ao carregar a rota, o componente tem que implementar um serviço que vai chamar um REST
        <strong>POST:/team/'teamName'</strong>.
      </li>
      <li>
        <strong>Java:</strong> Criar um serviço <strong>POST:/team/'teamName'</strong> que vai cadastrar o time e os
        participantes do mesmo, detalhe, um
        mesmo time com o mesmo nome, não pode ser cadastrado mais de uma vez.
      </li>
      <li>
        <strong>Java:</strong> Criar um serviço <strong>GET:/team/list</strong> que retorne todos os times/partipantes.
      </li>
      <li>
        <strong>Angular:</strong> Listar os dados via <strong>GET:/team/list</strong> do time e do Presenters, aplicando
        filtros, assim evitando que dados de outro time seja
        mostrado.<strong>(Não será considerada a solução que mostrar dados de outros times).</strong>
      </li>
    </ol>
    <h4>:: Desafio 2</h4>
    <ol class="c">
      <li>
        <strong>Angular:</strong> Chamar o REST <strong>POST:/belt/'teamName'</strong> via serviço e listar os <strong>belts</strong>
        do time,
        os <strong>belts</strong> terá que ser mostrado num modal e invocado através de um link/button.
      </li>
      <li>
        <strong>Java:</strong> Criar um serviço REST <strong>POST:/belt/'teamName'</strong> que retorne a lista <strong>belts</strong>
        do time,
        <strong>(Não será considerado serviço que retorne cinturões de outros times.)</strong>
      </li>
    </ol>
  </div>


</div>

<router-outlet></router-outlet>
